.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
   /* background-color: #f0f0f0;  Example background color */
  }
  
  .container {
    max-width: 800px; /* Example max width */
    margin: 0 auto; /* Center aligning the container */
    padding: 20px; /* Example padding */
   
    
  }
  
  .smallcontainer {
    width: 100%;
    height: 100%;
    background-image: url('./Images/referfrend.jpeg'); /* Background image path */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center align the background image */
    display: flex;
    align-items: center;
    justify-content: center;
    /*color: #ffffff;  Example text color */
    text-align: center; /* Center align text inside */
    padding: 20px; /* Example padding */
  }
  
  .refer h1 {
    margin-bottom: 10px; /* Example margin */
  }
  
  .refer button {
    background-color: #ff0026; /* Example button background color */
    color: #ffffff; /* Example button text color */
    padding: 10px 20px; /* Example button padding */
    border: none; /* Remove button border */
    cursor: pointer; /* Pointer cursor on hover */
  }
  
  .refer button:hover {
    background-color: #b3001e; /* Example button background color on hover */
  }
  