.banner-container {
    background-image: url('./Images/bannerDesktop.avif'); /* Assuming your image folder is named 'Images' */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Added for horizontal centering */
    height: 100vh;
    width: 100vw;
    color: white;
  }
  
  .button-container {
    margin-top: 2rem; /* Adds a margin above the button */
  }
  
  .custom-button11 {
    background-color: #ff0051;
    color: #fff;
    border: none;
    padding: 10px 30px; /* Adjust padding as needed */
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Remove default underline for anchor tags */
  }
  
  .custom-button11:hover {
    background-color: #d40046; /* Change background color on hover */
  }
  